.user-settings-bg {
  background-image: url('../assets/bgImg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#user-settings-title h2 {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding: 1%;
  margin-left: 16vw;
  margin-bottom: 4vh;
  margin-top: 4vh;
  background-color: #0a192f;
  width: 500px;
  border: 1px solid black;
  border-radius: 30px;
  position: relative;
  z-index: 1
}

#user-settings-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  margin-right: 12vw;
  margin-left:  14vw;
  border: 1px solid black;
  height: 60vh;
  width: 77vw;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.settings-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
}

.settings-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-wrapper {
  margin: 0;
  padding: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.category-wrapper h4 {
  margin-bottom: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.categories-table {
  min-width: 500px;
  border-collapse: collapse;
  position: relative;
  margin-top: 4vh;
  box-shadow: 0 4px 10px rgba(41, 55, 84, 0.1);
}

.categories-table th,
.categories-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.add-category-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  border: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  gap: 0.5rem;
}

.custom-form-group label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.custom-form-group input,
.custom-form-group textarea,
.custom-form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-form-group input:focus,
.custom-form-group textarea:focus,
.custom-form-group select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

#add-category-button {
  background: #0a192f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#add-category-button:hover {
  color: black;
  font-weight: bold;
  background: #2ed573;
}

.action-buttons-wrapper {
  display: flex;
  justify-content: left;
}

.action-buttons {
  margin-left: 8px;
  width: 4.5rem;
  height: 2rem;
}